Checks: >
  bugprone-*,
  cert-*,
  clang-*,
  analyzer-*,
  cppcoreguidelines-*,
  google-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
